.banks {
    padding: 30px 0 40px;

    &__item {
        &+& {
            margin-top: 20px;
        }
    }

    &__bank {
        justify-content: space-between;
        border: 2px solid #EFF1F4;
        border-radius: 20px;
        box-shadow: 0px 8px 60px #F2F2F2;
        overflow: hidden;
        transition: border-color 0.2s;

        &:hover {
            border-color: violet;
        }

        &--orange {
            border: 2px solid $orange;
        }
    }

    &__info, &__box {
        padding: 42px 0 41px;
    }

    &__info {
        padding-left: 39px;
    }

    &__logo {
        margin-right: 39px;
    }

    &__wrapper {
        width: 100%;
    }

    &__title {
        margin-bottom: 12px;
        font-size: 26px;
    }

    &__checklist-item {
        position: relative;
        padding-left: 21px;
        margin-bottom: 15px;
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 13px;
            height: 13px;
            background-image: url('../images/icon-check.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
    }
    
    &__box {
        width: 302px;
        background-color: $light-gray;
    }

    &__box-text {
        margin: 0 auto 14px;
        max-width: 210px;
        width: 100%;
        text-align: center;
    }

    &__btn {
        display: block;
        margin: 0 auto;
        padding: 16px 10px;
        width: 170px;
        height: 52px;
        text-transform: uppercase;
        text-align: center;
        color: white;
        border-radius: 14px;
        background-color: $violet;
        transition: opacity 0.2s;

        &:hover {
            opacity: 0.7;
        }
    }
}